.header {
    box-sizing: border-box;
    font-size: 1.2rem;
    color: rgb(137, 216, 117);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
   
    
    
}

head, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background-color: rgb(44, 44, 44);
    font-family: 'Nunito', sans-serif;
}
.parent {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.card {
    border: solid rgb(137, 216, 117);
    width: 32%;
    text-align: center;
    flex-basis: 25%;
    font-size: 1.2rem;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    color: rgb(137, 216, 117);
    padding: 1rem;
    flex-shrink: 1;
    margin: 0.5rem;
    box-shadow: 2rem 2rem 1rem rgb(22, 22, 22);
}
img {
    height: 15rem;
    border: solid rgb(22, 22, 22);

}