body, html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    
}
body {
    background-color: rgb(44, 44, 44);
}
h1 {
    font-size: 3rem;
    color: rgb(114, 217, 235);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
h2 {
    font-size: 2rem;
    color: rgb(114, 217, 235);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.parent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 32%;
    text-align: center;
    flex-basis: 25%;
    
    border: solid rgb(136, 223, 238);
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    color: rgb(136, 223, 238);

    padding: 1rem;
    margin: 0.8rem;

    transition: all 0.6s;
    box-shadow: 2rem 1.8rem 1rem rgb(22, 22, 22);
    
}
img {
    height: 15rem;
    border: solid rgb(22, 22, 22);
}
.card:hover {
    color: rgb(166, 241, 248);
    border: solid rgb(166, 241, 248);
    box-shadow: 1.2rem 1.2rem 1rem rgb(65, 93, 91);
    transform: scale(0.985);

}
img:hover {
    opacity: 0.5;
}



